.form-container{
  display: flex;
  justify-content:center;
  align-items:center;
  background-color:#fbae54;
  direction:rtl;
  
}

.form-control{
  
  width:80%;
  background-color:#fffadc;
  
}

.form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.form-control input{
  width:50%;
  padding:0 10px ;
  height: 40px;
  border-radius:10px;
  margin: 10px 0;
}

.form-control label{
  font-size: 30px;
  font-weight: bold;
}


.form-submit {
  cursor: pointer;
  padding: 1px 20px ;
  background-color:#adb792; 
  color:#fff;
  border-radius:10px; 
  border:none;
  box-shadow: rgba(17, 17, 26, 0.236) 3px 3px 16px;
  margin: 20px auto;
}

.form-submit:hover{
  opacity:0.7;
  transform:translateX(-10px) scale(1.05);
  background-color: lightgreen;
  transition: 0.2s ease ;
}

.form-submit:active{
  transform:translateY(4px)
}