.positive-points{
  
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  direction:rtl
}

.positive-points-container{
  display: grid;
  width: 70%;
  text-align: center;
  background-color: white;
  border-radius:20px;
  margin:2%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 40px;
  
}

.positive-points-container > h1{
  font-weight: bold;
  
}
.positive-points-inner{
  display: grid;
  
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr ));
  grid-template-rows: repeat(auto-fit,minmax(2rem,1fr  ));
  background-color: white;
  border-radius:20px;
  font-size: clamp(8px,16px, 32px);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 20px;
  gap: 15px
}

