*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.app{
  background-color: #fffadc
  
  
}

.queary-div{
  font-weight: bold;
  font-size: clamp(10px,16px, 22px);
  width: 100%;
  background-color: #fffadc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.queary-div-button {
  cursor: pointer;
  padding: 1px 20px ;
  background-color:#adb792; 
  color:#fff;
  border-radius:10px; 
  border:none;
  box-shadow: rgba(17, 17, 26, 0.236) 3px 3px 16px;
  
}

.queary-div-button:hover{
  opacity:0.7;
  transform:translateX(-10px) scale(1.05);
  background-color: lightgreen;
  transition: 0.2s ease ;
}

.queary-div-button:active{
  transform:translateY(4px)
}

.social-links{
  display:flex;
  justify-content:space-around;
  width:100%;
  background-color: grey;
  padding-top: 10px;
}